In [1]:
import pandas as pd
import hsfs
from hops import hdfs
connection = hsfs.connection(engine="hive")
fs = connection.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

In [5]:
prices_df = pd.read_csv(hdfs.project_path() + "Jupyter/fs-notebooks/ecommerce/order_item.csv", usecols=[0,2,5])
prices_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   order_id    112650 non-null  object
 1   product_id  112650 non-null  object
 2   price       112650 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.6+ MB

In [6]:
prices_fg = fs.create_feature_group(name="prices",
                                        version=1,
                                        primary_key=['order_id'],
                                        online_enabled=True,
                                        description="Price of Orders and Products")
prices_fg.save(prices_df)

Configuring ingestion job...
Uploading Pandas dataframe...
Launching ingestion job...
Ingestion Job started successfully, you can follow the progress at https://hopsworks.glassfish.service.consul:8182/hopsworks/#!/project/119/jobs

In [8]:
display(prices_df)

,order_id,product_id,price
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90
...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,299.99
112646,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,350.00
112647,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,99.90
112648,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,55.99
112649,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,43.00